body {
  font-family: "Times New Roman", Times, serif;
}
a {
  font-size: 25px;
  font-weight: 100;
  text-decoration: none;
  color: rgb(231, 20, 20);
}
.title {
  font-size: 35px;
  text-align: center;
}
ul{
  color: orange;
  text-decoration: dotted;
}
